* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.welcome {
  background-color: #3778c2;
  color: white;
  font-size: 2rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.signIn {
  cursor: pointer;
  margin: 1rem 0;
  background-color: #5fb523;
  font-size: 1.2rem;
  padding: 0.3rem 0.6rem;
  border: solid 0.1rem white;
  color: white;
}

.signUp {
  font-size: 1.5rem;
  color: white;
}
